<h1>Create New People Database</h1>
<p><strong>Warning: this will destroy preivous database<strong></p>

<%= form_tag({action: :create}, multipart: true) do %>
  <%= file_field_tag 'people_csv' %> <br><br>
  <%= submit_tag 'upload' %>
<% end %>