
* {
  box-sizing: border-box;
}

 .listing-row {
    line-height: 35px;
     border-top: 1px solid rgba(34, 36, 38, 0.15);
     padding-left: 0.6em;
     font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
     font-size: 16px;
     font-weight: bold;
 }

 .listing-row:hover {
  background:  rgba(0,0,0,.03)
 }
