<div id='admin-navbar'>

    <a href='/people/new'>
        <div>New Database</div>
    </a>

    <a href='/people'>
        <div>Current Database</div>
    </a>

    <%= button_to  "Logout", logout_path,  method: 'delete', id: 'admin-navbar-form' %>
    
</div>